*{
    margin:0%;
    padding:0%; 
    background-color: #dfe3ee;  
}

.textbox{
    margin-top: 200px;
    margin-left:150px;
}

h1{
    font-size:55px ;
    color: #1877f2;
    font-family: sans-serif;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.container{
    border-radius: 12px;
     width: 400px;
     height: 350px;
     margin-top:-194px ;
     margin-right:165px ;
     float: right;
border-radius: 12px;
background-color: white;
    width: 398px;px;
    height: 355px;
    text-align: center;
}    
.form{
    float: right;
    background-color:white;
    margin-top: 20px;
    padding: 19px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-right: -1px;
    
}

.form input{
margin-top:12px;
margin-left: -10px;
border-radius: 8px;
margin-right: -10px;
     padding: 20px;
     width: 332px;
}     

button{
    text-align: center;
    margin-left:-12px;
    margin-top: 15px;
    background-color:#1877f2;
    padding: 16px;
    width: 106%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font size:50px; 

    
}

p{
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top:  10px;;
}

p a{
    
    color: #1877f2;
    background-color: white;
}

.btn {
    margin-top: 10px;
    background-color: white;
    margin-left:60px;
    margin-right:60px;
    
}

.btn button{
    background-color: #1b9c24;
}